
{%extends "layout.html"%}
{%block content%}
<div class="about">
    <h1>About me</h1>
    <div class="about-grid">
        <div class="about-grid-module">
            <img src="{{url_for('static',filename='pic/5G5fz357OBPQ.jpg')}}" alt="face" width="200" height="300">
        </div>
        <div class="about-grid-module">
            <h1>Hi! My name is Mario and I am an aspiring Python developer If you are looking for someone to help you with your project or develop something from scratch then I am your man.
                <a href="mailto:mario@pythonslack.com" title="contact me" style="color: black;">Contact ME</a>
            </h1>
        </div>
    </div><br><br>
        <div class="about-grid-module">
            <div class="about-grid-module"></div>
                <p>
                    <b>
                        My experiences:
                    </b>
                    Experience with web-based applications like REST API's and Flask.
                    Experience with relational databases and SQL queries, PostgreSQL and MySQL
                    Experience with GitHub, GitLab.
                    Experience with Linux(Ubuntu, Manjaro, Raspbian OS), Windows 95 - 10.
                    Experience with ML, DL methods and science behind that 
                    Experience with Tableau graph building.
                </p>  <br>
                    
                <p>
                    <b>
                        My Strong sides:
                    </b>
                    Great communication and collaboration skills; solid attention to detail
                    Analytical thinking, a good knowledge of English, communication and reliability
                    I always strive to continually improve my technical and developmental skills
                </p>  <br>
                <p>
                    <b> 
                        My weak sides: 
                    </b> 
                    Sometimes slow to answer emails. But I am improving my speed :)
                    
                </p>
        </div>
    </div>
</div>
{%endblock%}
