{%extends "layout.html"%}
{%block content%}
<div class="about">
    <h1>About me</h1>
    <div class="about-grid">
        <div class="about-grid-module">
            <img src="https://pythonslack.com/pic/5G5fz357OBPQ.jpg" alt="face" width="200" height="300">
        </div>
        <div class="about-grid-module">
            <h1>Loros lupus magnus masdasdkjasldaklsjd alsdölaksödl aölsdköla ksdkaöl dköalksd öasödl aölsdöaksdöl aölsdkölaksdöl kaölsdköalskd ölskdöl</h1>
        </div>
    </div><br><br>
        <div class="about-grid-module">
            <div class="about-grid-module"></div>
                <p>Loros lupus magnus masdasdkjasldaklsjd alsdölaksödl aölsdköla ksdkaöl dköalksd 
                    Loros lupus magnus masdasdkjasldaklsjd alsdölaksödl aölsdköla ksdkaöl dköalksd öasödl aölsdöaksdöl aölsdkölaksdöl kaölsdköalskd ölskdöl
                    Loros lupus magnus masdasdkjasldaklsjd alsdölaksödl aölsdköla ksdkaöl dköalksd öasödl aölsdöaksdöl aölsdkölaksdöl kaölsdköalskd ölskdöl
                    Loros lupus magnus masdasdkjasldaklsjd alsdölaksödl aölsdköla ksdkaöl dköalksd öasödl aölsdöaksdöl aölsdkölaksdöl kaölsdköalskd ölskdöl
                    Loros lupus magnus masdasdkjasldaklsjd alsdölaksödl aölsdköla ksdkaöl dköalksd öasödl aölsdöaksdöl aölsdkölaksdöl kaölsdköalskd ölskdöl
                    Loros lupus magnus masdasdkjasldaklsjd alsdölaksödl aölsdköla ksdkaöl dköalksd öasödl aölsdöaksdöl aölsdkölaksdöl kaölsdköalskd ölskdöl
                    Loros lupus magnus masdasdkjasldaklsjd alsdölaksödl aölsdköla ksdkaöl dköalksd öasödl aölsdöaksdöl aölsdkölaksdöl kaölsdköalskd ölskdöl
                    öasödl aölsdöaksdöl aölsdkölaksdöl kaölsdköalskd ölskdöl</p>
        </div>
    </div>
</div>
{%endblock%}