{%extends "layout.html"%}
{%block content%}
<div class="portfolio">
    <h1>MY portfolio</h1>
    

    <div class="portfolio-grid">
        
        <div class="portfolio-grid-module">
            <h1>Stock Scraper</h1><br>
            <p style="text-align: center;">Scrapes stock related news articles from different sources and analyzes the impact of a tweet or a title</p><br>
            <a href="https://github.com/DrSuperMario/SSIA" style="color: black;" title="GitHub Link">Github Link</a>
        </div>
        <div class="portfolio-grid-module">
            <h1>FCSSignals</h1><br><br>
            <p style="text-align: center;">Simple REST API for sharing Stock Crypto and Forex Signals</p><br>
            <a href="https://github.com/DrSuperMario/FCSSignals" style="color: black; " title="GitHub Link">Github Link</a>
        </div>
        <div class="portfolio-grid-module">
            <h1>Website</h1><br><br>
            <p style="text-align: center;">Simple flask website. Made using Flask, Python, HTML and CSS</p><br>
            <a href="https://github.com/DrSuperMario/website" style="color: black;" title="GitHub Link">Github Link</a>
        </div>
        <div class="portfolio-grid-module">
            <h1>JSON API reader</h1><br><br>
            <p style="text-align: center;">JSON reader for getting and reading REST API data. This Script was intended to use on my Stock Signals API</p><br>
            <a href="https://github.com/DrSuperMario/JSON-API-Reader" style="color: black;" title="GitHub Link">Github Link</a>
        </div>
     

    
    </div>
    
</div>
{%endblock%}