{%extends "layout.html"%}
{%block content%}
<div class="portfolio">
    <h1>MY portfolio</h1>
    <p>Secret website</p>

    <div class="portfolio-grid">
        
        <div class="portfolio-grid-module">
            <h1>Stock Scraper</h1><br>
            <p style="text-align: center;">Scrapes stock related news articles from different sources and analyzes the impact of a tweet or a title</p><br>
            <a href="https://github.com/DrSuperMario/SSIA" style="color: black;" title="GitHub Link">Github Link</a>
        </div>
        <div class="portfolio-grid-module">
            <h1>FCSSignals</h1><br><br>
            <p style="text-align: center;">Scrapes stock related news articles from different sources and analyzes the impact of a tweet or a title</p><br>
            <a href="https://github.com/DrSuperMario/SSIA" style="color: black; " title="GitHub Link">Github Link</a>
        </div>
        <div class="portfolio-grid-module">
            <h1>Website</h1><br><br>
            <p style="text-align: center;">Scrapes stock related news articles from different sources and analyzes the impact of a tweet or a title</p><br>
            <a href="https://github.com/DrSuperMario/SSIA" style="color: black;" title="GitHub Link">Github Link</a>
        </div>
        <div class="portfolio-grid-module">
            <h1>API reader</h1><br><br>
            <p style="text-align: center;">Scrapes stock related news articles from different sources and analyzes the impact of a tweet or a title</p><br>
            <a href="https://github.com/DrSuperMario/SSIA" style="color: black;" title="GitHub Link">Github Link</a>
        </div>
     

    
    </div>
    
</div>
{%endblock%}