{%extends "layout.html"%}
{%block content%}
<div class="portfolio">
    <h1>MY portfolio</h1>
    

    <div class="portfolio-grid">

        <div class="portfolio-grid-module">
            <h1><a href="https://brine.cloud" style="color: black;" title="GitHub Link">Brine.Cloud</a></h1><br><br>
            <p style="text-align: center;">Free source for all market and financial releated data
                The purpose for this projects is to share and make avilable all data from news sources and from diffrent markets. 
                This projects is completly built as an open-source project and all of the projects sourcecode is avilable in my github pages.</p><br>
            <a href="https://github.com/DrSuperMario/Brine" style="color: black;" title="GitHub Link">Github Link</a>
        </div>
        <div class="portfolio-grid-module">
            <h1>SIGNAL-Scraper</h1><br><br>
            <p style="text-align: center;">Scraper tha will run in asynchronous matter to store data in SQLite DB files will be stored in saved folder
            </p><br>
            <a href="https://github.com/DrSuperMario/SIGNAL-Scraper" style="color: black;" title="GitHub Link">Github Link</a>
        </div>
        <div class="portfolio-grid-module">
            <h1>DMS</h1><br>
            <p style="text-align: center;">Dead Man Switch with client and server
            </p><br>
            <a href="https://github.com/DrSuperMario/DMS" style="color: black;" title="GitHub Link">Github Link</a>
        </div>
        <div class="portfolio-grid-module">
            <h1>Stock Scraper</h1><br>
            <p style="text-align: center;">Scrapes stock related news articles from different sources and analyzes the impact of a tweet or a title</p><br>
            <a href="https://github.com/DrSuperMario/SSIA" style="color: black;" title="GitHub Link">Github Link</a>
        </div>
        <div class="portfolio-grid-module">
            <h1>FCSSignals</h1><br><br>
            <p style="text-align: center;">Simple REST API for sharing Stock Crypto and Forex Signals</p><br>
            <a href="https://github.com/DrSuperMario/FCSSignals" style="color: black; " title="GitHub Link">Github Link</a>
        </div>
        <div class="portfolio-grid-module">
            <h1>Website</h1><br><br>
            <p style="text-align: center;">Simple flask website. Made using Flask, Python, HTML and CSS</p><br>
            <a href="https://github.com/DrSuperMario/website" style="color: black;" title="GitHub Link">Github Link</a>
        </div>
        <div class="portfolio-grid-module">
            <h1>JSON API reader</h1><br><br>
            <p style="text-align: center;">JSON reader for getting and reading REST API data. This Script was intended to use on my Stock Signals API</p><br>
            <a href="https://github.com/DrSuperMario/JSON-API-Reader" style="color: black;" title="GitHub Link">Github Link</a>
        </div>
    

    
    </div>
    
</div>
{%endblock%}