{%extends "layout.html"%}
{%block content%}
<div class="social">
    <div class="social-grid">
            <img src="https://pythonslack.com/pic/Twitter.png" alt="twitter.com" width="100" height="100">
            <a href="https://twitter.com/MuukMario" style="color: black;" title="twitter Link"><b>https://twitter.com/MuukMario</b></a>
            <img src="https://pythonslack.com/pic/facebook.png"  alt="facebook.com" width="100" height="100">
            <a href="https://www.facebook.com/mario.muuk" style="color: black;" title="twitter Link"><b>https://www.facebook.com/mario.muuk</b></a>
            <img src="https://pythonslack.com/pic/github.png"  alt="github.com" width="100" height="100">
            <a href="https://github.com/DrSuperMario" style="color: black;" title="twitter Link"><b>https://github.com/DrSuperMario</b></a>
            <img src="https://pythonslack.com/pic/linkedin.png"  alt="linkedin.com" width="100" height="100">
            <a href="https://www.linkedin.com/in/mario-muuk/" style="color: black;" title="twitter Link"><b>https://www.linkedin.com/in/mario-muuk/</b></a>
    </div>
</div>
{%endblock%}